* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
} 
/*for profile*/
.photo1{
    margin: 5%;
}
.prof1{
  padding-top: 2%;
  background-color: #8B9A46;
}
.content1{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
} 
#dealcnt1{
  font-family: "Sofia", sans-serif;
  font-size: 50px;
    text-align: center;
    margin-bottom: 2%;
}
.profile{
  margin: 5% 19%;
    display: inline-flex;
    align-items: center;
    width: 65%;
    border-radius: 20px;
    background-color: #EEEEEE;
}
.tele{
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #7E30E1;
}
/*---------------------------------------*/
@media only screen and (max-width: 700px) { 
  .photo1{
    margin: 1%;
  }
  .prof1{
    padding: 8% 3% 0% 3%;
    background-color: #8B9A46;
  }
  .profile{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
      margin: 15% 0%;
      width: 100%;
      border-radius: 15px;
      background-color: #EEEEEE;
  }
  #dealcnt1{
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0%;
  }
  .content1{
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
} 
}
/*for product*/
#product{
    background-color: #FEF3E2;
    padding: 0% 5%;
}
.abcontainer{
    margin: 2% 0%;
    display: inline-flex;
    width: 100%;
}
button{
    border: none;
    cursor: pointer;
    color: white;
    background: none;
    transition: all .3s ease-in-out;
}
.container {
  margin: 1% 0%;
  height: 22vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BEC6A0;
  padding: 1%;
  border-radius: 12px;
}
.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  transition: all 0.25s ease-in;
}
.carousel-view .item-list {
  max-width: auto;
  width: 87vw;
  padding: 50px 10px;
  display: flex;
  gap: 33px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.item-list::-webkit-scrollbar {
  display: none;
}
.prev-btn {
  background: none;
  cursor: pointer;
}
.next-btn {
  cursor: pointer;
}
.item {
  scroll-snap-align: center;
  min-width: 250px;
  height: 240px;
  background-color: deeppink;
  border-radius:8px;
}
.container2{
  margin: 1% 0%;
  height: 22vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #708871;
  padding: 1%;
  border-radius: 12px;
}
.carousel-view2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  transition: all 0.25s ease-in;
}
.carousel-view2 .item-list2 {
  max-width: auto;
  width: 87vw;
  padding: 50px 10px;
  display: flex;
  gap: 33px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.item-list2::-webkit-scrollbar {
  display: none;
}
.prev-btn2 {
  background: none;
  cursor: pointer;
}
.next-btn2 {
  cursor: pointer;
}
.item2 {
  scroll-snap-align: center;
  min-width: 250px;
  height: 240px;
  background-color: deeppink;
  border-radius:8px;
}
.container3 {
  margin-top: 1%;
  height: 22vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #606676;
  padding: 1%;
  border-radius: 12px;
}
.carousel-view3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  transition: all 0.25s ease-in;
}
.carousel-view3 .item-list3 {
  max-width: auto;
  width: 87vw;
  padding: 50px 10px;
  display: flex;
  gap: 33px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
.carousel-view3 .item-list3 img{
  padding: 1px;
  background-color: #FEF3E2;
}
.item-list3::-webkit-scrollbar {
  display: none;
}
.prev-btn3 {
  background: none;
  cursor: pointer;
}
.next-btn3 {
  cursor: pointer;
}
.item3 {
  scroll-snap-align: center;
  min-width: 250px;
  height: 240px;
  background-color: deeppink;
  border-radius:8px;
}
/*about*/
.about1{
  background-color: #219C90;
}
.kumaran_pro{
  margin: 2% 8%;
  background-color: #DAC0A3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 2%;
  border-radius: 15px;
}
.k_img{
  height: 268px;
  border: 1px solid black;
}
.k_cnt{
  width: 100%;
  margin: 0 10%;
}
.abprice{
  margin-left: 2%;
  color: #1D24CA;
  font-family: "Trirong", serif;
}
.moonpro{
  margin: 2% 18%;
  background-color: #DAC0A3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width:75%;
  padding: 2%;
  border-radius: 15px;
}
.m_img{
  height: 268px;
  border: 1px solid black;
}
.m_cnt{
  width: 100%;
  margin: 0 10%;
}
.wili_pro{
  margin: 2% 8%;
  background-color: #DAC0A3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width:75%;
  padding: 2%;
  border-radius: 15px;
}
.w_img{
  height: 260px;
  border: 1px solid black;
}
.w_cnt{
  width: 100%;
  margin: 0 10%;
}
.titleab1{
  padding-top: 2%;
  color: wheat;
  font-size: 30px;
}
/*for card*/
#card{
  background-color: #495E57 ;
}
.vcardimg{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.vcardimg img{
  padding: 3%;
  width: 50%;
}
/*footer*/
.foot1{
  background: #303841;
    color: #F6C90E;
    padding: 0.5%;
}
.innerfooter{
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.footname{
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 75%;
}
.footcprights{
  display: inline-flex;
  flex-direction: column;
  width: 75%;
  margin-left: 45%;
  margin-top: 2%;
}
.tele2{
  color: #F5F7F8;
  font-size: 20px;
}
.border1 {
	height: 3px;
	width: 75%;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}
.srih1{
  font-size: 50px;
  margin-left: 1%;
}
.srih2{
  margin-left: 19%;
  font-size: 30px;
  justify-content: space-between;
}
.srih3{
  margin-left: 7%;
}
/*-------------------for about respo--------------------*/
@media only screen and (max-width: 700px) {
  .about1{
    background-color: #219C90;
    padding-bottom: 1%;
  }
  .titleab1{
    color: #000;
  }
  .kumaran_pro, .wili_pro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 2%;
    padding: 2%;
  }
  .k_img, .m_img, .w_img{
    border-radius: 10px;
    width: 403px;
    height: 203px;
  }
  .k_img img, .w_img img, .m_img img{
    width: 400px;
    height: 200px;
    border-radius: 10px;
  }
  .k_cnt, .m_cnt, .w_cnt{
    margin: 2%;
    border: 1px solid #000;
    background-color: #d5d5d5;
    text-align: center;
    font-size: medium;
    border-radius: 10px;
  } 
  .moonpro{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 2%;
  }
} 
/*for card*/
@media only screen and (max-width: 700px) {
  .vcardimg{
    display: block;
  }
  .vcardimg img{
    width: 100%;
  }
  .ctitle{
    text-align: center;
    color: #eef60e;
    padding: 2%;
  }
}
/*for card*/
@media only screen and (max-width: 700px) {
  .foot1{
    padding: 0;
    text-align: center;
  }
  .innerfooter{
    display: block;
  }
  .footname{
    text-align: center;
    width: 100%;
  }
  .srih1{
    width: 100%;
    text-align: center;
  }
  .srih2{
    width: 100%;
    margin: 0px;
    text-align: center;
  }
  .border1{
    height: 3px;
    width: 75%;
    background: #ff9800;
    color: #ff9800;
    background-color: #ff9800;
    border: 0px;
    margin: 0 13%;
  }
  .srih3{
    width: 100%;
    text-align: center;
  }
  .footcprights{
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
  }
}